.popup {
  position: fixed;
  left: 30%;
  top: 40%;
  border-radius: 10px;
  border: 3px solid rgb(143, 0, 0);
  background-color: black;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  color: white;
  width: 60vh;
}

.popupButton {
  cursor: pointer;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.popupButton button {
  width: 100px;
  justify-content: center;
  align-items: center;
}

.popupButton button:hover {
  background-color: rgb(143, 0, 0);
  /* color: ; */
}

.popupButton:hover {
  transition: 200ms ease;
  /* background-color: rgb(143, 0, 0); */
}

div.popup h2 {
  font-size: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
