.product-page {
  width: 70%;
  margin: auto;
}

.top-section {
  justify-content: space-between;
}

.details {
  justify-content: space-between;
}

.description {
}

.image-container {
  height: 400px;
  width: 400px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
